#ad {
    height: 600px;
    width: 300px;
    background-image: url(../images/background-img.png);
}

#video-container{
    height: auto;
    width: 300px;
    padding-top: 40px;
}

video {
    height: auto;
    width: 100%;   
    object-fit: inherit;
}

.button {
    background-image: url(../images/ribbon.png);
    cursor: pointer;
    height: 75px;
    width: 300px;
}

button {
    padding: 0px;
    border: none;
    background: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

.callout {
    padding-left: 45px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
        
}
