#ad {
    height: 250px;
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-image: url(../images/background-img.png);
}

#video-container{
    height: auto;
    width: 300px;
}

video {
    height: auto;
    width: 100%;
    object-fit: inherit;
}

.button {
    background-image: url(../images/ribbon.png);
    background-size: 83%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 60px;
    width: 300px;
}

button {
    padding: 0px;
    border: none;
    background: none;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}